<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<header th:fragment="auditorNav">
    <nav id="header-nav" class="top-nav blue darken-1">
        <div class="container">
            <div class="nav-warpper">
                <div class="row">
                    <div class="col s2 l2">
                        <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
                            <i class="material-icons">menu</i>
                        </a>
                    </div>

                    <div class="col s5 offset-s5 l2 offset-l8">
                        <div>[[${user.userName}]]</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <li class="bold"><a href="/" class="waves-effect waves-teal" style="height: 64px; line-height: 64px">控制面板</a>
        </li>


        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">申请</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/secretary/manualApply">手动添加</a></li>
                            <li><a href="/secretary/excelApply">excel添加</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="/secretary/applyStatus" class="waves-effect waves-teal">申请状态dddd</a></li>
    </ul>
</header>

<header th:fragment="secretaryNav">
    <nav id="header-nav" class="top-nav blue darken-1">
        <div class="container">
            <div class="nav-warpper">
                <div class="row">
                    <div class="col s2 l2">
                        <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
                            <i class="material-icons">menu</i>
                        </a>
                    </div>

                    <div class="col s5 offset-s5 l2 offset-l8">
                        <div>[[${user.userName}]]</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <li class="bold"><a href="/" class="waves-effect waves-teal" style="height: 64px; line-height: 64px">控制面板</a>
        </li>


        <li class="bold">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">申请</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/secretary/manualApply">手动添加</a></li>
                            <li><a href="/secretary/excelApply">excel添加</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="/secretary/applyStatus" class="waves-effect waves-teal">申请状态dddd</a></li>
    </ul>
</header>

<ul th:fragment="navigate(pageInfo, query)" class="pagination">
    <!--<th:block th:with="link=${#httpServletRequest.queryString != null ? #httpServletRequest.requestURL + '?' + #httpServletRequest.queryString : #httpServletRequest.requestURL}">-->
    <th:block th:with="link=${#httpServletRequest.requestURL}">

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == pageInfo.getFirstPage() ? 'disabled' : ''}">
            <a th:href="@{${link}(page=${pageInfo.getPrePage() == 0 ? 1 : pageInfo.getPrePage()}, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == 1 ? 'disabled' : ''}">
            <a th:href="@{${link}(page=1, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">first_page</i>
            </a>
        </li>

        <th:block th:with="
            first=${pageInfo.getPageNum() > pageInfo.getPages() - 2 ? pageInfo.getPages() - 4 : pageInfo.getPageNum() - 2},
            last=${pageInfo.getPageNum() < 3 ? 5 : pageInfo.getPageNum() + 2}">

            <th:block th:each="i : ${#numbers.sequence(first, last)}">
                <th:block th:if="${i >= 1 && i <= pageInfo.getPages()}">
                    <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == i ? 'active' : ''}">
                        <a th:href="@{${link}(page=${i}, size=${pageInfo.getPageSize()})} + ${query}" th:text="${i}"></a>
                    </li>
                </th:block>
            </th:block>

        </th:block>

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == pageInfo.getPages() ? 'disabled' : ''}">
            <a th:href="@{${link}(page=${pageInfo.getPages()}, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">last_page</i>
            </a>
        </li>

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == pageInfo.getLastPage() ? 'disabled' : ''}">
            <a th:href="@{${link}(page=${pageInfo.getNextPage() == 0 ? pageInfo.getLastPage() : pageInfo.getNextPage()}, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </th:block>
</ul>
</body>
</html>