<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<ul th:fragment="navigate(pageInfo, query)" class="pagination">
    <!--<th:block th:with="link=${#httpServletRequest.queryString != null ? #httpServletRequest.requestURL + '?' + #httpServletRequest.queryString : #httpServletRequest.requestURL}">-->
    <th:block th:with="link=${#httpServletRequest.requestURL}">

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == pageInfo.getFirstPage() ? 'disabled' : ''}">
            <a th:href="@{${link}(page=${pageInfo.getPrePage() == 0 ? 1 : pageInfo.getPrePage()}, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == 1 ? 'disabled' : ''}">
            <a th:href="@{${link}(page=1, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">first_page</i>
            </a>
        </li>

        <th:block th:with="
            first=${pageInfo.getPageNum() > pageInfo.getPages() - 2 ? pageInfo.getPages() - 4 : pageInfo.getPageNum() - 2},
            last=${pageInfo.getPageNum() < 3 ? 5 : pageInfo.getPageNum() + 2}">

            <th:block th:each="i : ${#numbers.sequence(first, last)}">
                <th:block th:if="${i >= 1 && i <= pageInfo.getPages()}">
                    <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == i ? 'active' : ''}">
                        <a th:href="@{${link}(page=${i}, size=${pageInfo.getPageSize()})} + ${query}" th:text="${i}"></a>
                    </li>
                </th:block>
            </th:block>

        </th:block>

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == pageInfo.getPages() ? 'disabled' : ''}">
            <a th:href="@{${link}(page=${pageInfo.getPages()}, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">last_page</i>
            </a>
        </li>

        <li class="waves-effect" th:classappend="${pageInfo.getPageNum() == pageInfo.getLastPage() ? 'disabled' : ''}">
            <a th:href="@{${link}(page=${pageInfo.getNextPage() == 0 ? pageInfo.getLastPage() : pageInfo.getNextPage()}, size=${pageInfo.getPageSize()})} + ${query}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </th:block>
</ul>
</body>
</html>