<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wxc.book.mapper.ItemMapper">

    <insert id="addItem" useGeneratedKeys="true" keyProperty="item_id">
      INSERT INTO item (apply_id, course_title,
                        isbn, book_name,
                        author, press,
                        publish_time, book_category,
                        major_grade, student_number,
                        teacher_book, total_number,
                        remark)
                       VALUES
                       (#{applyId},#{item.courseTitle},
                       #{item.isbn},#{item.bookName},
                       #{item.author},#{item.press},
                       #{item.publishTime},#{item.bookCategory},
                       #{item.majorGrade},#{item.studentNumber},
                       #{item.teacherBook},#{item.totalNumber},
                       #{item.remark})</insert>

</mapper>
