<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wxc.book.mapper.UserMapper">

    <!--<resultMap id="adminResultMap" type="com.wxc.edu.lab.domain.Admin">-->
    <!--<id property=""></id>-->
    <!--</resultMap>-->



    <select id="selectByIdAndPasswd" resultType="edu.wxc.book.domain.User">
        select
          user_id userId,
          username,
          passwd,
          academy,
          telephone
         from user where user_id = #{id} AND passwd = #{passwd}
    </select>

</mapper>
